/* public/css/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}


.date {
    margin-bottom: 20px;
}

/* .notes h1 {
    background-color: #ffe0b3;
    
} */

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.header,.date, .form{
    text-align: center;
}
.note-item {
    background-color: #ffe0b3;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.note-item input[type="checkbox"] {
    margin-right: 10px;
}